<div id="cycler">
  <div class="first active"></div>
  <div class="second"></div>
  <div class="third"></div>
</div>

<div id="nav-bar">
  <div class="header left-border">
    <h1 style="font-size: 30px;text-align: right; color:white;">Man Hong Yeung</h1>
    <div style="height: 5px;"></div>
    <h3 style="font-style: italic; text-align: right; color:white;">Web Developer</h3>
  </div>
  <div class="nav-bar-content">
    <div class="nav-bar-item">
      <a href="#profile"><h4 style="color:white;">Profile</h4></a>
    </div>
    <div class="nav-bar-item">
      <a href="#skills"><h4 style="color:white;">Skills</h4></a>
    </div>
    <div class="nav-bar-item">
      <a href="#project"><h4 style="color:white;">Projects</h4></a>
    </div>
    <div class="nav-bar-item">
      <a href="#contact"><h4 style="color:white;">Contact Me</h4></a>
    </div>
  </div>
</div>

<div class="content">
  <a name="profile"></a>
  <!-- <div style="padding: 0px; background-color: rgba(0, 0, 0, 0.0);" class="panel"> -->
    <img id="hong-picture" src="/assets/hong2.jpg" alt="Hong Picture" />
  <!-- </div> -->
  <div class="buffer"></div>
  <div class="panel">
    <h3>Who am I?</h3><br>
    <p>
      I am a web developer.  I am a marketer. I am a coder who has an eye for design. I am also a human. <br><br>I take pride in creating applications that are enjoyable for the user. I am a natural problem solver that can work at a micro-level yet still has a keen eye on the big picture. Currently, I am looking for a company that will give me the opportunity to learn and grow to become a key member of their organization.
    </p>
  </div>
  <div class="buffer"></div>
  <div class="panel"><a name="skills"></a>
    <h3>Technical Skills</h3><br>
    <div class="panel-row flex-wrap">
      <div class="icon-container">
        <i class="devicon-javascript-plain colored icon-size"><p>JavaScript</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-ruby-plain colored icon-size"><p>Ruby</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-rails-plain colored icon-size"><p>RoR</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-react-original colored icon-size"><p>React</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-jquery-plain colored icon-size"><p>jQuery</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-bootstrap-plain colored icon-size"><p>Bootstrap</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-html5-plain colored icon-size"><p>HTML</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-css3-plain colored icon-size"><p>CSS</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-git-plain colored icon-size"><p>Git</p></i>
      </div>
      <div class="icon-container">
        <i class="devicon-postgresql-plain icon-size"><p>PostgreSQL</p></i>
      </div>
    </div>
  </div>
  <div class="buffer"></div>
  <div class="panel">
    <h3>Work Experience</h3>
    <h4 style="font-style: italic;">Electronic Arts - Marketing Coordinator</h4>
    <br>
    <ul style="padding-left: 20px">
      <li>
        Successfully launched NHL13 - NHL15 as a key member of the EASPORTS NHL marketing team delivering an increased viewership and quality of digital marketing content.
      </li>
      <li>
        Created and distributed various marketing videos for online platforms and major broadcasting companies such as ESPN and TSN. Look below to see examples in Projects.
      </li>
      <li>
        Worked closely with graphic designers to produce digital content for various eCommerce platforms.
      </li>
    </ul>
  </div>
  <div class="buffer"></div>
  <a name="project"></a>
  <div class="panel">
    <h3>Projects</h3><br>
    <div class="panel-row flex-space-between">
      <div>
        <a href="https://trust-trades.herokuapp.com/">
          <img style="max-width:100%; max-height:100%;"src="/assets/trusty_trades_1.png/" alt="" />
        </a>
      </div>
      <div>
        <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/0jEgFzpsPMA?autoplay=1"><img style="max-width:100%; max-height:100%;"src="/assets/nhl15_1.jpg/" alt="" /></a>
      </div>
    </div>
    <div class="panel-row flex-space-between">
      <div>
        <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/ytkPcoi6VMw?autoplay=1"><img style="max-width:100%; max-height:100%;"src="/assets/nhl15_1.jpg/" alt="" /></a>
      </div>
      <div>
        <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/rMHQY-EjE2s?autoplay=1"><img style="max-width:100%; max-height:100%;"src="/assets/nhl15_1.jpg/" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="buffer"></div>
  <div class="panel">
    <h3>Contact Me</h3><a name="contact"><br>
      <div style="panel-row">
        <div class="flex-justify-center" style="margin: 0 10px 10px 0; float: left; display: inline-block">
          <p>
            Feel free to contact me through any of these avenues stated below!
          </p>
          <div class="flex-justify-center" style="position: relative; top: 30px;">
            <a href="https://www.facebook.com/hong.young.121"><i class="fa fa-facebook social-icon-size"></i></a>
            <a href="https://ca.linkedin.com/in/manhongyeung"><i class="fa fa-linkedin-square social-icon-size"></i></a>
            <a href="https://github.com/Hongyeung"><i id="off-icon" style= "position: relative; top: 9px;" class="devicon-git-plain colored social-icon-size"></i></a>
          </div>
          <div style="height: 40px"></div>
          <p class="flex-justify-center">
            manhongyeung@gmail.com
          </p>
        </div>
        <!-- <div style="float: left; display: inline-block;">
          <form action="index.html" method="post">
            <div><input type="text" name="name" value="" placeholder="Your Name"></div>
            <div><input type="text" name="email" value="" placeholder="Email"></div>
            <div><textarea name="message" rows="8" cols="40"></textarea></div>
            <div><input type="submit" name="submit" value="Submit"></div>
          </form>
        </div> -->
      </div>
      <div style="clear: both"></div>
  </div>
  <div class="buffer"></div>
</div>
