<div id="cycler">
  <div class="first active"></div>
  <div class="second"></div>
  <div class="third"></div>
</div>

<div id="nav-bar">
  <div class="header left-border">
    <h1 style="font-size: 35px;text-align: right; color:white;">Man Hong Yeung</h1>
    <div style="height: 5px;"></div>
    <h3 style="font-style: italic; text-align: right; color:white;">Web Developer</h3>
  </div>
</div>

<div class="content">
  <img style="min-width: 320px; max-width:100%; max-height:100%;" src="/assets/hong2.jpg" alt="Hong Picture" />
  <div class="buffer"></div>
  <div class="panel">
    <h3>Who am I?</h3><br>
    <p>
      Those who know me describe me as an extraordinarily hard-worker with a passionate curiosity for all things web-development.  My tenacity and trainability are coupled with the capability of learning autonomously. I am a natural problem solver that can work at a micro-level yet still has a keen eye on the big picture.  Currently, I am looking for a company that will give me the opportunity to learn and grow to become a key member of their organization.

    </p>
  </div>
</div>
