.buffer {
  height: 40px;
}

.left-border {
  border-left: solid 2px;
  border-color: yellow;
}
html, h1, h2, h3, p, pre {
  font-family: 'Raleway', sans-serif;
}

img {
  border-radius: 5px;
  opacity: 0.98;
}
