@media (min-width: 320px)
  and (max-width: 568px) {
    #nav-bar {
      width: 100% !important;
      height: 200px !important;
      position: relative !important;
    }
    .content {
      // position: relative !important;
      width: 100% !important;
      height: 40% !important;
      margin: 0 0 0 0!important;
    }
    .header {
      position: relative !important;
      margin: 0 auto !important;
      top: 15px !important;
      right: 0 !important;
    }
    .nav-bar-content {
      display: flex;
      justify-content: space-between;
      width: 80%;
      position: relative !important;
      margin: 0 auto !important;
      top: 60px !important;
      right: 0px !important;
    }
    .nav-bar-item {
      display: inline-block;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #nav-bar {
      width: 100% !important;
      height: 200px !important;
      position: relative !important;
    }
    .content {
      // position: relative !important;
      width: 100% !important;
      height: 40% !important;
      margin: 0 0 0 0!important;
    }
    .header {
      position: relative !important;
      margin: 0 auto !important;
      top: 15px !important;
      right: 0 !important;
    }
    .nav-bar-content {
      display: flex !important;
      justify-content: space-between !important;
      width: 80% !important;
      position: relative !important;
      margin: 0 auto !important;
      top: 60px !important;
      right: 0px !important;
    }
    .nav-bar-item {
      display: inline-block !important;
    }
    .nav-bar-item h4 {
      font-size: 10px !important;
    }
    img#hong-picture {
      max-width: 320px;
    }
}
