@import 'variables-mixins';
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

#cycler{
  position: fixed;
}

div.first {
  background: image-url('stars.jpg');
  @include cycler-background;
}

div.second {
  background: image-url('road.jpg') no-repeat center center fixed;
  @include cycler-background;
}

div.third {
  background: image-url('sky.jpg') no-repeat center center fixed;
  @include cycler-background;
}

#cycler div.active{
  z-index:3;
}
// Nav Bar
#nav-bar {
  height: 100%;
  width: 40%;
  position: fixed;
  background-color: $panel-color;
}

.header {
  height: 80px;
  width: 300px;
  position: absolute;
  right: 30px;
  top: 100px;
}

.nav-bar-content {
  position: absolute;
  right: 30px;
  top: 280px;
}

.nav-bar-item {
  margin-bottom: 30px;
  h4 {
    color: white;
    text-align: right;
  }
}

// Body
.content {
  height: 100%;
  width: 55%;
  margin-right: 27px;
  float: right;
  position: relative;
  padding: 40px;
}

.panel {
  margin: 0 auto;
  background-color: $panel-color;
  border-radius: 5px;
  padding: 20px;
  min-width: 320px;
  h3, p, li, h4{
    color: white;
  }
}

.moz-row {
  div.moz-row-div {
    float:left;
    max-width: 250px;
    max-height: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.panel-row {
  width: 100%;
  div {
    display: inline-block;
    margin-right: 5px;
  }
}

div a img {
  max-width: 100%;
  max-height: 100%;
}
